Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" type="HotelType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HotelType">
    <xs:sequence>
      <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Address" type="AddressType"/>
      <xs:element name="Rating" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string"/>
      <xs:element name="Street" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="State" type="xs:string"/>
      <xs:element name="zip" type="xs:string"/>
      <xs:element name="NearestAirport" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
